#main {
    width: 100%;
    height: 200px;
    margin: auto;
    margin-top: 50px;
}

#week {
    width: 100%;
    height: 200px;
    margin: auto;
    margin-top: 50px;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    margin-top: 10px;
    background-color: #eeeeee;
}

.plus{
    margin-top: 40px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #95bd98;
}