<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{% block title %}CoPat{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta property="og:title" content="CoPat">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{request.build_absolute_uri}}">
    <meta property="og:description" content="Challenge ton CO2">
    <meta content="#B593C0" data-react-helmet="true" name="theme-color" />
    <meta name="msapplication-TileColor" content="#B593C0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.min.css">
    <script src="/static/lib/fontawesome/fontawesome.js" crossorigin="anonymous"></script>
    <script src="/static/lib/bootstrap/js/bootstrap.bundle.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">

    <script type="text/javascript">
    window.onload = () => {
        [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]')).map(function (tE) {
            return new bootstrap.Popover(tE, {trigger: 'focus'});
        });
        [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]')).map(function (tE) {
            return new bootstrap.Tooltip(tE);
        });
        if(document.querySelector("div.copact-container") != null)document.querySelector("div.copact-container").style["min-height"] = (window.innerHeight - (document.querySelector("nav.navbar").offsetHeight)-1)+"px"
    }
    </script>
</head>
    <body>
        <div class="container-fluid text-center" style="margin-top: 180px;">
        <p class="h1" style="text-align: center; font-size: 50px;"><b>COpact</b></p>
            <img src="/static/img/logo.png" class="img-fluid" style="max-width: 50%;" alt="...">
        </div>
        <p class="h1" style="text-align: center; margin-top: 50px;">Challenge ton CO2</p>
    </body>

    <script>
        setTimeout(function(){
           window.location.href = '/index';
        }, 2000);
     </script>
</html>

