<footer class='footer'>
    <div class="container-fluid p-0 m-0">
      <div class="btn-group w-100" role="group" aria-label="Basic outlined example">
        <button type="button" style="width:33%;height:75px;" class="btn btn-outline-success"><img class="h-75" src="/static/img/svg/stats.svg" alt=""></button>
        <button type="button" style="width:33%;height:75px;" class="btn btn-outline-success"><img class="h-75" src="/static/img/svg/users.svg" alt=""></button>
        <button type="button" style="width:33%;height:75px;" class="btn btn-outline-success"><img class="h-75" src="/static/img/svg/users.svg" alt=""></button>
      </div>
    </div>
</footer>
