<footer class='footer'>
    <div class="container-fluid p-0 m-0">
      <div class="btn-group w-100" role="group" aria-label="Basic outlined example">
        <a href="/defis" style="width:33%;height:75px;background:#fff;" class="btn btn-outline-success"><img class="h-75" src="/static/img/svg/stats.svg" alt=""></a>
        <a href="/index" style="width:33%;height:75px;background:#fff;" class="btn btn-outline-success"><img class="h-75" src="/static/img/logo.png" alt=""></a>
        <a href="/social" style="width:33%;height:75px;background:#fff;" class="btn btn-outline-success"><img class="h-75" src="/static/img/svg/users.svg" alt=""></a>
      </div>
    </div>
</footer>
