{% extends 'baseline.html' %}
{% load static %}
{% block extracss %}
    <link rel="stylesheet" href="/static/css/dashboard.css">
{% endblock %}

{% block extrajs %}
    <script src="/static/lib/echarts/echarts.js" charset="utf-8"></script>
{% endblock %}

{% block body_content %}
<div class="container-fluid">
  <p clas="h1">Nouveaux Défis</p>
  <div class="scrollable-container d-flex">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Émission de CO<sub>2</sub></h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
