{% extends 'baseline.html' %}
{% load static %}
{% block extracss %}
    <link rel="stylesheet" href="/static/css/dashboard.css">
{% endblock %}

{% block extrajs %}
    <script src="/static/lib/echarts/echarts.js" charset="utf-8"></script>
{% endblock %}

{% block body_content %}
<div class="container-fluid">
  <p class="h1 mt-2">Nouveaux</p>
  <div class="scrollable-container d-flex">
    <div style="width:300px;" class="col-6 mx-2">
      <div style="width:300px;" class="card">
        <div class="card-body">
          <h5 class="card-title">Émission de CO<sub>2</sub> en baisse</h5>
          <p class="card-text"><strong>Défi : </strong>Laisser votre voiture au garage</p>
          <p>Accepter le défi ? <a href="#" class="btn btn-success">Oui</a> <a href="#" class="btn btn-danger">Non</a></p>
        </div>
        <div class="card-footer text-end"><span class="badge rounded-pill bg-success">+100 XP</span></div>
      </div>
    </div>
    <div style="width:300px;" class="col-6 mx-2">
      <div style="width:300px;" class="card">
        <div class="card-body">
          <h5 class="card-title">Demande énergétique</h5>
          <p class="card-text"><strong>Défi : </strong>Baisser votre thermostat de 2°C pendant 5 jours</p>
          <p>Accepter le défi ? <a href="#" class="btn btn-success">Oui</a> <a href="#" class="btn btn-danger">Non</a></p>
        </div>
        <div class="card-footer text-end"><span class="badge rounded-pill bg-success">+200 XP</span></div>
      </div>
    </div>
    <div style="width:300px;" class="col-6 mx-2">
      <div style="width:300px;" class="card">
        <div class="card-body">
          <h5 class="card-title">Défi proposé par Julie</h5>
          <p class="card-text"><strong>Défi : </strong>Prendre une douche en 2 minutes</p>
          <p>Accepter le défi ? <a href="#" class="btn btn-success">Oui</a> <a href="#" class="btn btn-danger">Non</a></p>
        </div>
        <div class="card-footer text-end"><span class="badge rounded-pill bg-success">+50 XP</span></div>
      </div>
    </div>
  </div>
  <p class="h1 mt-2">En cours</p>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Engagement personnel</h5>
      <p class="card-text"><strong>Défi : </strong>Participer au prochain hackathon climatique</p>
      <p>Avez-vous réussi le défi ? <a href="#" class="btn btn-success">Oui</a> <a href="#" class="btn btn-danger">Non</a></p>
    </div>
    <div class="card-footer text-end"><span class="badge rounded-pill bg-success">+100 XP</span></div>
  </div>
  <p class="h1 mt-2">Réussis</p>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-9">
          <h5 class="card-title">Défi de Caroline</h5>
        </div>
        <div class="col-3 text-center">
          <img style="height:25px;" src="/static/img/svg/crown.svg" alt="">
          <br>
          <span class="badge rounded-pill bg-success">75XP</span>
        </div>
      </div>
      <div>
      </div>
      <p class="card-text"><strong>Défi : </strong> Ne pas manger de viandes pendant 3 jours</p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <p class="h2">BRAVO</p>
          <p>Tu as évité l'émission de 200g CO<sub>2</sub></p>
          <p>Vous avez été 1227 personnes à réussir le défi, soit 245kg de CO<sub>2</sub> évités</p>
          <p>Si tous les citoyens du Grand Genève avaient fait comme vous, nous aurions évité 200 tonnes de CO<sub>2</sub>.</p>
        </div>
      </div>
    </div>
    <div class="card-footer text-end">
      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        En savoir plus
      </button>
    </div>
  </div>
</div>
{% endblock %}
