{% extends 'baseline.html' %}
{% load static %}
{% block extracss %}
    <link rel="stylesheet" href="/static/css/dashboard.css">
{% endblock %}

{% block extrajs %}
    <script src="/static/lib/echarts/echarts.js" charset="utf-8"></script>
{% endblock %}

{% block body_content %}
<div class="w-100 d-flex justify-content-center">
  <ul class="w-100 nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Novice</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Intermédiaire</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Expert</a>
    </li>
  </ul>
</div>
<div class="container-fluid">
  <p class="h1">Classement</p>
</div>
<ul class="list-group">
  <li class="list-group-item d-flex align-items-center row">
    <span class="col-1" style="font-size:30px;">1</span>
    <img class="col-2" style="height:25px;" src="/static/img/svg/user.svg" alt="">
    <strong class="col-6" style="font-size:24px;"> Patrick53</strong>
    <span class="col-3 badge rounded-pill bg-success">Niveau 50</span>
  </li>
  <li class="list-group-item d-flex align-items-center row">
    <span class="col-1" style="font-size:30px;">2</span>
    <img class="col-2" style="height:25px;" src="/static/img/svg/user.svg" alt="">
    <strong class="col-6" style="font-size:24px;"> Titouan278</strong>
    <span class="col-3 badge rounded-pill bg-success">Niveau 48</span>
  </li><li class="list-group-item d-flex align-items-center row">
    <span class="col-1" style="font-size:30px;">3</span>
    <img class="col-2" style="height:25px;" src="/static/img/svg/female-user.svg" alt="">
    <strong class="col-6" style="font-size:24px;"> Katrine218</strong>
    <span class="col-3 badge rounded-pill bg-success">Niveau 36</span>
  </li><li class="list-group-item d-flex align-items-center row">
    <span class="col-1" style="font-size:30px;">4</span>
    <img class="col-2" style="height:25px;" src="/static/img/svg/female-user.svg" alt="">
    <strong class="col-6" style="font-size:24px;">Justine289</strong>
    <span class="col-3 badge rounded-pill bg-success">Niveau 21</span>
  </li><li class="list-group-item d-flex align-items-center row">
    <span class="col-1" style="font-size:30px;">5</span>
    <img class="col-2" style="height:25px;" src="/static/img/svg/user.svg" alt="">
    <strong class="col-6" style="font-size:24px;">Bertrand2789</strong>
    <span class="col-3 badge rounded-pill bg-success">Niveau 10</span>
  </li>
  <li class="list-group-item d-flex align-items-center row"><p style="font-size:24px;" class="text-center">...</p>
  </li>
  <li style="background:  rgba(149,189,152,0.5);" class="list-group-item d-flex align-items-center row">
    <span class="col-1" style="font-size:30px;">12</span>
    <img class="col-2" style="height:25px;" src="/static/img/svg/user.svg" alt="">
    <strong class="col-6" style="font-size:24px;">Titouan12</strong>
    <span class="col-3 badge rounded-pill bg-success">Niveau 10</span>
  </li>
</ul>
{% endblock %}
